body {
    background: powderblue;
    padding: 20px;
}

h1 {
    font-size: 40px;
    font-family: Garamond, Helvetica, sans-serif;
    text-align: center;
  }
  
  h2 {
    font-size: 30px;
    text-align: center;
    font-family: Courier, Helvetica, sans-serif;
    color: blueviolet;
  }

  h3 {
    font-size: 24px;
    text-align: center;
    font-family: Verdana, Helvetica, sans-serif;
    color: blueviolet;
  }

  h4 {
    font-size: 20px;
  }
  
  p {
    font-size: 14px;
    line-height: 200%;
  }

  img {
    border: solid 5px black;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
    height: 200px;
  }

  .list-item-inline {
    display: inline-block;
    margin-left: 50px;
  }

  .div-align-horizontal-centered {
    display: grid;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    grid-gap: 20px;
    /*display: flex;
    justify-content: center;*/
  }

  .travel-grid {
    grid-template-columns: repeat(5, 250px);
  }

  .recipes-grid {
    grid-template-columns: repeat(3, 350px);
  }

  .pets-grid {
    grid-template-columns: repeat(3, 400px);
  }

  .horizontal-spacer {
    width: 24px;
  }

  .div-center {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .width-half {
    width: 300px;
  }

  ol {
    list-style:circle;
  }

  .centered-text {
    text-align: center;
  }

  .currentLink {
    /*color: darkolivegreen;*/
    text-decoration: underline;
    border: 1px solid black;
 }

 li a:focus, li a:hover {
  /*color: darkolivegreen;*/
  text-decoration: underline;
  border: 1px solid black;
}

.skipToMain {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;;
  opacity: 0;
}

.skipToMain:focus {
  position: static;
  /*left: 40px;
  transform: translateX(-50%);*/
  opacity: 1;
}